* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
:root {
  --background-color: rgba(55, 63, 81, 1);
  --grid-color: rgba(27, 27, 30, 1);
  --font-color: rgba(216, 219, 226, 1);
  --button-color: rgba(169, 188, 208, 1);
}
body {
  font-size: calc(1em + 0.5vw);
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Annie Use Your Telescope', cursive;
}
button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--grid-color);
  /*   display: inline-flex;
  align-items: center;
  justify-content: center; */
  border-radius: 100000px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
}
main {
  width: 100%;
  display: grid;
  grid-template: 'left-controls grid-container right-controls' auto / 1fr 45vw 1fr;
  place-items: center;
}
header {
  text-align: center;
}
h1 {
  font-family: 'Rock Salt', cursive;
}
footer {
  text-align: center;
}
a {
  color: var(--font-color);
}
.container {
  --items-per-side: 16;
  display: grid;
  width: 40vw;
  height: 40vw;
  grid-template-rows: repeat(var(--items-per-side), 1fr);
  grid-template-columns: repeat(var(--items-per-side), 1fr);
  grid-area: grid-container;
}
.grid-lines {
  border: 1px solid var(--grid-color);
}
.grid-item {
  --brightness-level: 1;
  filter: brightness(var(--brightness-level));
  background-color: white;
}
#color-picker {
  display: none;
}
.controls {
  display: flex;
  flex-flow: column wrap;
}
.left {
  grid-area: left-controls;
}
.right {
  grid-area: right-controls;
}
