* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-size: calc(1em + 0.5vw);
}
button {
  font-size: inherit;
  font-family: inherit;
}
main {
  width: 100vw;
  /* background-color: cadetblue; */
  position: relative;
}
header {
  text-align: center;
}
.container {
  --divs-per-side: 16;
  display: grid;
  width: 40vw;
  height: 40vw;
  grid-template-rows: repeat(var(--divs-per-side), 1fr);
  grid-template-columns: repeat(var(--divs-per-side), 1fr);
  border: 2px solid black;
  margin: 1em auto;
  /* background-color: red; */
}
.grid-lines {
  border: 1px solid black;
}
.grid-item {
  --brightness-level: 1;
  filter: brightness(var(--brightness-level));
  background-color: white;
}
.container-thicker-border {
  border: 2px solid black;
}
#color-picker {
  display: none;
}
.controls {
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
  /* background-color: aquamarine; */
  position: absolute;
}
